/* raise complaint form styling  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box ;
    
}

html, body {
  height: 100%;
}
.main{
    border: 2px solid black;
    background-color: whitesmoke;
    display: grid;
    grid-template-columns: 280px 1fr;
    gap: 24px;
    align-items: start;
    min-height: 100vh;
}
.side{
    height: 100%;
    background-color: blue;
}
.side aside{
     display: flex;
    flex-direction: column;
}

.form {
    background-color: white;
  padding: 24px;
  margin: 20px;
  margin: 30px;
  border: 2px solid rgb(234, 237, 236);
  border-radius: 20px;
}

.form form{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
.form label {

  margin-top: 10px;
  font-family: poppins;
  font-weight: 500;
}

.form input, .form select, .form textarea{
  font-family: poppins;
  width: 100%;
  padding: 12px;
  margin: 8px 0 16px 0;
  border: 1px solid #ddd;
  border-radius: 6px;
  font-size: 14px;
}
.sideHeader{
    color: white;
    font-family: poppins;
    font-weight: 500;
    padding: 10px;
    text-align: center;

}

.btn{
    padding: 20px;
    margin: 10px;
    border-radius: 6px;
    border: none;
    background-color: blue;
    color: white;
    font-family: poppins;
    font-weight: 400;
    font-size: medium;

    
}

.logout{
    padding: 20px;
    margin: 10px;
    border-radius: 6px;
    border: none;
    background-color: red;
    color: white;
    font-family: poppins;
    font-weight: 400;
    font-size: medium;
}


.heading{
    font-family: poppins;
    font-weight: 600;
    font-style: normal;
    padding: 10px;
    margin: 10px;
}

.form button{
    padding: 15px;
    margin: 8px 0 16px 0;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 6px;
    color: white;
    background-color: blue;
    font-size: medium;
    font-family: poppins;
    font-weight: 400;
}

