html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(193, 255, 255);
}



.login {
    width: 400px;
    border: 3px solid gray;
    background-color: white;
    padding: 35px;
    border-radius: 10px;
    text-align: left;
}

h1 {
    text-align: center;
    margin: 0;
    margin-bottom: 5px;
}

p {
    text-align: center;
    margin-bottom: 25px;
}

input {
    width: 90%;
    padding: 12px;
    border: 1px solid black;
    border-radius: 12px;
    font-size: 14px;
    margin-bottom: 8px;
}

button {
    width: 95%;
    padding: 12px;
    background: blue;
    color: white;
    border: none;
    border-radius: 8px;
    margin-top: 15px;
    font-size: 18px;
    transition: transform 0.2s ease;
}

button:hover {
    cursor: pointer;
    transform: scale(1.05);
}

#back {
    background-color: grey;
}
