 body {
        background-color: rgb(193, 255, 255);
        margin: 0;
        padding: 0;
    }

    h2 {
        text-align: center;
        color: #2c3e50;
        margin-top: 30px;
    }


    form {
        background-color: #ffffff;
        width: 350px;
        margin: 30px auto;
        padding: 25px;
        border-radius: 8px;
    }

    label {
        font-weight: bold;
        color: #333;
    }

    input {
        width: 100%;
        padding: 8px;
        margin-top: 5px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

    input:focus {
        outline: none;
        border-color: #4a69bd;
    }

    input[type="submit"] {
        width: 100%;
        background-color: #4a69bd;
        color: white;
        padding: 10px;
        border: none;
        border-radius: 4px;
        font-size: 16px;
        cursor: pointer;
        margin-top: 10px;
    }

    input[type="submit"]:hover {
        background-color: #3b55a0;
    }

    button {
        width: 100%;
        background-color: #95a5a6;
        color: white;
        padding: 10px;
        border: none;
        border-radius: 4px;
        font-size: 16px;
        cursor: pointer;
        margin-top: 10px;
    }

    button:hover {
        background-color: #7f8c8d;
    }

     p {
        text-align: center;
        color: #555;
    }

    a {
        color: #4a69bd;
        text-decoration: none;
        font-weight: bold;
    }

    a:hover {
        text-decoration: underline;
    }